.container {
  margin-top: 10px;
  padding-left: 15px;
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #9dc9ff;
}

.heading {
  margin-bottom: 10px;
}

.inputSpace {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.outputSpace {
  display: flex;
  flex-direction: column;
} 